body  {
  --death-knight: #c41e3a;
  --shaman: #0070dd;
  --mage: #3fc7eb;
  --warlock: #8788ee;
  --monk: #00ff98;
  --druid: #ff7c0a;
  --demon-hunter: #a330c9;
  --palading: #f48cba;
  --rogue: #fff468;
  --warrior: rgb(198, 155, 109);
  --evoker: rgb(51, 147, 127);
  --hunter: rgb(170, 211, 114);
  --priest: rgb(255, 255, 255);
}
.warrior {
  color: var(--warrior);
}

.evoker {
  color: var(--evoker);
}

.hunter {
  color: var(--hunter);
}

.priest {
  color: var(--priest);
}

.death-knight {
  color: var(--death-knight);
}

.shaman {
  color: var(--shaman);
}

.mage {
  color: var(--mage);
}
.warlock {
  color: var(--warlock);
}
.monk {
  color: var(--monk);
}
.druid {
  color: var(--druid);
}
.demon-hunter {
  color: var(--demon-hunter);
}
.palading {
  color: var(--palading);
}
.rogue {
  color: var(--rogue);
}
